.newCardBtn {
    width: 68px;
    height: 68px;
    border-radius: 100%;
    background-color: #1985A1;
    color:azure;
    border: 0;
    font-size: xx-large;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.newCardBtn:hover {
    transform: scale(1.2) rotate(90deg);
}

.newCardBtn:active {
    transform: scale(1) rotate(180deg);
}

#popupForm, #updateFormDiv {
    display: none;
    position: fixed;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 5%);
    border: 2px solid lightblue;
    border-radius: 3vh;
    z-index: 9;
    background-color: #353b41;
    padding: 3vh;
    color: #DCDCDD;
    box-shadow: 1px 1px 14px -1px lightblue;
}

#entryForm, #updateForm {
    display: flex;
    flex-direction: column;
}

.buttonCont {
    display: flex;
    justify-content: right;
}

.formButton {
    margin-top: 2vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 70px;
    height: 70px;
    align-self: center;
    background-color:lightgreen;
    color:white ;
    margin: 0.5vh;
    border-radius: 3vh;
    cursor: pointer;
    font-weight: 500;
    font-size: larger;
    border: 0;
    transition: transform 80ms ease-in;
    box-shadow: 1px 14px 17px -13px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 14px 17px -13px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 14px 17px -13px rgba(0,0,0,0.75);
}

.formButtonClose {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 30px;
    height: 30px;
    background-color:lightcoral;
    color:#FFFCF2 ;
    margin: 0.5vh;
    align-self: center;
    border-radius: 3vh;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    border: 0;
    transition: transform 80ms ease-in;

}

.formButton:hover {
    transform: scale(1.03);
}

.formButton:active {
    transform: scale(0.98);
}

label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input[type="text"], input[type="number"], textarea, input[type="date"], select{
    border:1px #1985A1 solid;
    outline:none;
    height:34px;  
    bottom:14px;
    border-radius:22px;
    width:95%;
    margin-top: 1vh;
    margin-bottom: 1vh;
    box-sizing:border-box;
    padding:0 18px; 
    background-color: #252b2c;
    color: azure;
  }

  textarea {
      min-height: 8vh;
  }

  .new-project-form {
      display: none;
      flex-direction: column;
  }

  .project-buttons {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    width: 40px;
    height: 40px;
    background-color:lightcoral;
    color:#FFFCF2 ;
    margin: 0.5vh;
    border-radius: 3vh;
    cursor: pointer;
    font-weight: 500;
    font-size: large;
    border: 0;
    transition: transform 80ms ease-in;
}

.add {
    background-color:lightgreen;
}

.project-item-btn, .new-project-btn {

    border: 0px;
    border-left: #4C5C68 1vh solid;
    border-right: #4C5C68 1vh solid;
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
    padding: 8px;
    background-color: #4C5C68;
    color: aliceblue;
    font-size: larger;
    width: 100%;
    cursor: pointer;
    transition: border 100ms ease-in;
}

.project-item-btn:hover {
    border-left: #1985A1 1vh solid;
}

.activeProject {
    border-left: #1985A1 1vh solid;
    border-right: #46494C 1vh solid;
    background-color: #46494C;
    transition: background-color 100ms ease-in;
    transition: border-right 100ms ease-in;
}


#new-project-btn:hover {
    border-left: lightgreen 1vh solid;
    
}

.toolbar {
    background-color: #4C5C68;
    border-radius: 8px;
    color: #C5C3C6;
    padding: 8px;
}