.card {
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: min-content;
    width: 300px;
    padding: 12px;
    border-radius: 25px;
    background-color: #353b41;
    border: #1985A1 2px solid;
    color: azure;
    transition: border 200ms ease-in;
}

.card p {
    font-weight: 100;
    font-size: smaller;
}

.card-bar {
    display: flex;
    padding-left: 1vh;
    padding-right: 1vh;
    height: 3vh;
    justify-content: space-between;
    border: 0px purple solid;
    align-items: center;
}


.priority-high, .priority-medium, .priority-low {
    font-weight: 200;
    font-size: x-small;
    border-radius: 50px;

}

.priority-high {
    color: red;
    border: 1px red solid;
    padding: 4px;
}

.priority-medium {
    color: orange;
    border: 1px orange solid;
    padding: 4px;
}

.priority-low {
    color: grey;
    border: 1px grey solid;
    padding: 4px;
}

.task-actions {
    display: flex;
    justify-content: space-between;
    gap: 1vh;
}

.task-action {
    padding: 1vh;
    border-radius: 50px;
    border: 1px #1985A1 solid;
    font-size: x-small;
    cursor: pointer;
    background-color: #252b2c;
}

.task-action:hover {
    background-color: #4C5C68;
}

.task-action:active {
    background-color: #4C5C68;
}

.new-card {
    display: flex;
    align-items: center;
    align-content: center;
}

.add-card {
    background-color: lightblue;
    padding: 2vh;
    border-radius: 200px;
    font-size: 6vh;
    color: white;
    cursor: pointer;
}